﻿
body .top-bar {
    background-color: lightpink;
}

    body .top-bar .main-bar {
        background-color: brown;
        width: 80%;
        margin: auto;
        display: flex;
        flex-wrap: nowrap;
    }

        body .top-bar .main-bar .contact-left {
            flex-grow: 4;
            background-color: blue;
            display: flex;
            justify-content: flex-start;
            gap: 20px;
        }

        body .top-bar .main-bar .login-right {
            flex-grow: 2;
            background-color: blueviolet;
            display: flex;
            justify-content: space-between;
        }

body .wrapper {
    background-color: white;
    width: 80%;
    margin: 0 auto;
}

body .News {
    display: flex;
}

body .tool {
    height: 35px;
}

    body .tool .menu {
        display: flex;
        list-style: none;
        margin: 0;
    }

ul.menu a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 0px 10px;
}

body .content {
    margin-top: 10px;
    float: left;
    width: 60%;
    display: flex;
}

    body .content .content-right {
        width: 60%;
    }

    body .content .content-left {
        width: 40%;
    }

        body .content .content-left .moved-right {
            margin-left: 180px;
        }

.content-left .content-below-right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 110px;
}

    .content-left .content-below-right .GN {
        color: #9b2226;
        font-family: Arial;
        font-weight: bold;
        background: linear-gradient(to right, rgba(128,128,128,0.3) 0%, rgba(255,255,255,0.3) 100%);
        width: 50%;
        margin: 5px 0;
        padding: 10px;
    }

    .content-left .content-below-right .header_of_content-below-right {
        width: 50%;
        font-family: Arial;
        font-weight: bold;
        margin: 0;
    }

.content-left .content_of_content-below-right {
    font-size: 0.9em;
    font-family: Arial;
    color: #534b52;
}

ul.list {
    list-style: none;
}

    ul.list a {
        color: black;
        text-decoration: none;
        padding: 0px 5px;
        display: block;
    }

body .ads {
    margin-top: -6px;
    float: right;
    width: 40%;
}

.ads .Time {
    margin: 0 auto;
    padding: 0px 20px;
    height: 35px;
    flex-wrap: nowrap;
    flex-direction: column;
}
