﻿
@{
    ViewBag.Title = "Quangcao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="~/content/CSS/mycss.css" rel="stylesheet" />
    <style>
        #specialButton {
            padding: 10px 20px;
            background-color: rosybrown;
            color: white;
            border: none;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            cursor: pointer;
        }

            #specialButton i {
                margin-right: 5px;
            }
    </style>


    <div class="top-bar">
        <div class="main-bar">
            <div class="contact-left">
                <a>0123.888.0123 (HN)</a>
                <p>-</p>
                <a>0129.2333555 (HCM)</a>
                <button> Liên hệ quản cáo</button>
                <button>Like</button>
                <button>Follow</button>
                <button>Youtube</button>
            </div>
            <div class="login-right">
                <button>Đăng ký</button>
                <button>Đăng nhập</button>
                <input placeholder="Tìm kiếm" />
            </div>
        </div>
    </div>
    
        <div class="tool">

            <ul class="menu">
                <li><a href="#"> <i class="fa fa-home"></i> </a></li>
                <li><a href="#">Thời sự </a></li>
                <li><a href="#">Thế giới  </a></li>
                <li><a href="#">Kinh doanh   </a></li>
                <li><a href="#">Giải trí  </a></li>
                <li><a href="#">Thể thao   </a></li>
                <li><a href="#">Pháp luật  </a></li>
                <li><a href="#">Giáo dục  </a></li>
                <li><a href="#">Sức khỏe  </a></li>
                <li><a href="#">Gia đình  </a></li>
                <li><a href="#">Du lịch </a></li>
                <li><a href="#">khoa học  </a></li>
                <li><a href="#">Số hóa  </a></li>
                <li><a href="#">Xe  </a></li>
                <li><a href="#">Cộng đồng  </a></li>
                <li><a href="#">Tâm sự  </a></li>
                <li><a href="#">Video  </a></li>
                <li><a href="#">Cười  </a></li>
                <li><a href="#">Rao vặt  </a></li>

            </ul>
            <hr />
        </div>
        <div class="content">
            <div class="content-right">
                <button id="specialButton">
                    Trang đầu
                </button>
                <img src="~/content/Images/thumnails.png" width="350" />
                <h2>
                    Trump và Clinton đối đầu nảy lửa trong tranh luận trực tiếp đầu tiên <i class="fas fa-camera"></i> <i class="fas fa-comment">80</i>
                </h2>
                <p>Hai ứng viên chạy đua vào chức tổng thống Mỹ Clinton và Trump tranh cãi nảy lửa trong hàng loạt vấn đề từ đất, thương mại, đến cuộc chiến khủng bố...</p>
            </div>
            <div class="content-left">
                <button class="moved-right">
                    <i class="fas fa-e "></i>English
                </button>
                <ul class="list">
                    <li> <a href="">Đài Loan đóng cửa trường học vì bão Megi</a> </li>
                    <hr />
                    <li> <a href="">Những đứa trẻ sống vất vẻo trên dầm cầu đã có chốn dung thân <i class="fas fa-camera"></i> </a></li>
                    <hr />
                    <li> <a href="">Tại sao các đôi hoàn hảo vẫn ly dị </a> </li>
                    <hr />
                    <li> <a href="">Ssangyong Korando - crossover giá một tỷ tại Việt Nam </a> </li>
                    <hr />
                    <li> <a href="">Lỗ hỏng IOS 10 giúp hacker giải mã bản sao lưu dễ dàng </a> </li>

                </ul>
                <hr />
                <div class="content-below-right">
                    <p class="GN">Góc nhìn</p>
                    <p class="header_of_content-below-right">'Thất thủ' trước cơn mưa</p>
                    <img id="" src="" alt="" />
                </div>
                <p class="content_of_content-below-right">Hàng triệu người bất lực trước một cơn mưa, hay còn bởi điều gì khác?</p>
            </div>

        </div>
        <div class="ads">
            <div class="Time">
                <p class="nd">
                    Thứ ba, 27/9/2016 | 09:16 GMT+7
                    <button>24H qua</button>
                    <button><strong>RSS</strong></button>
                </p>

                <hr />
                <div class="ads1">
                    <img src="~/content/Images/right-ads-1.png" width="370" height="150" />
                </div>
                <div class="ads2">
                    <img src="~/content/Images/right-ads-2.png" width="370" height="150" />
                </div>
                <div class="ads3">
                    <img src="~/content/Images/right-ads-3.png " width="370" height="150" />
                </div>
            </div>

        </div>
    </div>

