﻿
@{
    ViewBag.Title = "Quangcao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper">
    <div class="News">
        <div class="News1">
            <img src="~/content/Images/Logo_Vnexpress.png" width="331" height="100" />
        </div>
        <div class="News2">
            <img src="~/content/Images/banner-ads-1.png" width="331" height="100" />
        </div>
        <div class="News3">
            <img src="~/content/Images/banner-ads-2.png" width="331" height="100" />
        </div>
    </div>

