﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
    <link href="~/content/CSS/mycss.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
</body>
</html>
